html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #f4f4f4; 
  font-family: Arial, sans-serif; /* Fonte padrão */
}

.blog {
  background-color: #4682B4;
  width: 100%; 
  max-width: none;
  height: auto; 
  min-height: 100vh; /* Garante que o conteúdo ocupe a altura mínima da tela */
  padding: 40px 20px; /* Aumenta o espaçamento superior e inferior */
  margin: 10px auto; 
  position: relative;
}

.blog h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px; /* Aumenta o espaçamento inferior */
  margin-top: 20px;
  text-align: center; /* Centraliza o título */
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 cards por linha */
  gap: 20px;
  margin-bottom: 50px; /* Adiciona espaçamento inferior aos cards */
}

.blog-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  margin-top: 20px; 
}

.blog-card:hover {
  transform: translateY(-5px);
}

.blog-image {
  background-color: #f4f4f4;
  height: 180px; 
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
  border-bottom: 1px solid #e0e0e0; 
}

.blog-image img {
  width: 100%; 
  height: 100%; 
  object-fit: cover;
  opacity: 1; 
}

.blog-content {
  padding: 20px;
  text-align: left;
}

.blog-content h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.blog-content p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
}

.blog-content span {
  font-size: 0.9rem;
  color: #888;
  display: block;
  margin-bottom: 10px;
}

.blog-content a {
  font-size: 1.3rem;
  color: #5a4dfb;
  text-decoration: none; 
  display: inline-block;
  float: right; 
  margin-top: -10px; 
  position: relative;
  top: -30px; 
}

.blog-content a:hover {
  text-decoration: underline;
  color: #4a3dbb; 
}

/* Ajustes de responsividade para telas menores */
@media (max-width: 768px) {
  .blog-grid {
      grid-template-columns: 1fr; /* 1 card por linha */
  }

  .blog h1 {
      font-size: 2rem; /* Tamanho reduzido do título */
  }

  .blog-content a {
      font-size: 1.1rem; /* Tamanho do link ajustado */
      margin-top: 0; /* Remover o top negativo */
  }
}

@media (max-width: 480px) {
  .blog h1 {
      font-size: 1.8rem; /* Tamanho ainda menor para telas muito pequenas */
  }

  .blog-content a {
      font-size: 1rem; /* Ajusta o tamanho do link */
  }
}
