html {
  scroll-behavior: smooth;
}

.service-section {
  background-color: #4682B4;
  padding: 80px 20px;
  color: white;
  text-align: left;
}

.service-section h2 {
  font-size: 3.5em;
  margin-bottom: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 130px;
}

.service-content {
  position: static !important;
  transform: none !important;
  text-shadow: none !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.service-item {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap; /* Permite que os itens se ajustem responsivamente */
}

.service-item img {
  width: 400px;
  height: auto;
  border-radius: 15px;
  animation: floating 3s ease-in-out infinite;
}

.service-texts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 120px;
}

.service-texts p {
  font-size: 1.1em;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  max-width: 600px;
}

.service-texts h3 {
  font-size: 2.0em;
  color: white;
  margin: 0;
  font-family: 'Poppins';
  font-weight: 200;
  transition: font-size 0.3s ease;
}

.service-texts h3:hover {
  font-size: 2.1em;
  cursor: pointer;
  color: #FFD700;
}

.service-item:nth-child(2) img {
  margin-left: 60px;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Responsividade com Media Queries */
@media (max-width: 1024px) {
  .service-section h2 {
    font-size: 3em;
    margin-bottom: 100px;
  }

  .service-content {
    gap: 30px;
  }

  .service-item img {
    width: 300px;
  }

  .service-texts {
    margin-left: 60px;
  }
}

@media (max-width: 768px) {
  .service-section h2 {
    font-size: 2.5em;
    margin-bottom: 80px;
  }

  .service-content {
    gap: 20px;
  }

  .service-item img {
    width: 220px; /* Ajustando tamanho para dispositivos médios */
  }

  .service-texts {
    margin-left: 0;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .service-section {
    padding: 40px 10px;
  }

  .service-section h2 {
    font-size: 2em;
    margin-bottom: 50px;
  }

  .service-content {
    gap: 15px;
    align-items: center;
  }

  .service-item {
    flex-direction: column; /* Ajustando para coluna no celular */
    gap: 10px;
  }

  .service-item img {
    width: 100%; /* Fazendo as imagens se ajustarem */
  }

  .service-texts {
    margin: 0 10px;
    text-align: center;
  }
}
