footer {
  margin-top: 0 !important;
  background-color: #ffffff;
  color: #000000;
  padding: 20px 40px;
  font-size: 0.9em;
  font-family: 'Poppins';
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-logo {
  height: 160px; /* Ajuste a altura da logo */
  width: auto; /* Mantém as proporções */
  margin-right: 20px; /* Espaçamento entre a logo e os links */
}

.footer-nav {
  display: flex;
  gap: 30px; /* Aumenta o espaço entre os itens */
  flex-wrap: wrap;
  justify-content: center;
}

.footer-nav a {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}

.footer-socials {
  display: flex;
  gap: 15px; /* Espaço entre os ícones */
  justify-content: center;
}

.footer-socials a {
  color: #000000;
  font-size: 1.5em; /* Tamanho dos ícones */
  text-decoration: none;
}

.footer-divider {
  border: none;
  border-top: 1px solid #000000;
  margin: 20px 0;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.footer-bottom p {
  margin: 0;
  text-align: center;
}

.footer-links {
  display: flex;
  gap: 20px; /* Espaço entre os links de política e termos */
  justify-content: center;
  flex-wrap: wrap;
}

.footer-links a {
  color: #1e3a5f;
  text-decoration: none;
  font-weight: 500;
}

/* Estilos responsivos */
@media (max-width: 1024px) {
  .footer-top {
    flex-direction: column;
    align-items: center;
  }

  .footer-logo {
    margin: 0 auto 20px auto;
    height: 120px; /* Ajusta o tamanho da logo */
  }

  .footer-nav {
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
    text-align: center;
  }

  .footer-nav {
    flex-direction: column;
    gap: 15px;
  }

  .footer-socials {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  .footer-logo {
    height: 100px;
  }

  .footer-bottom {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .footer-top {
    text-align: center;
    flex-direction: column;
  }

  .footer-nav {
    flex-direction: column;
    gap: 10px;
  }

  .footer-links {
    flex-direction: column;
    gap: 10px;
  }

  .footer-logo {
    height: 80px;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .footer-socials {
    flex-direction: row;
    gap: 10px;
    justify-content: center;
  }
}
